@model List<GymManager.Core.Members.Member>
@{

}

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Membership</th>
            <th scope="col">Begin Membership</th>
            <th scope="col">Membership status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var member in Model)
        {
            var valid = false;
            var nameMembership = "";

            if (member.MembershipType == null)
            {
                nameMembership = "None found";
            }
            else
            {
                var membership = member.MembershipType.Duration;
                var dateExpired = member.LastMembership.AddMonths(membership);

                if (dateExpired >= DateTime.Now)
                    valid = true;
            }

            <tr>
                <td>@member.Name</td>
                <td>@member.LastName</td>
                <td>@member.MembershipType.Name</td>
                <td>@member.LastMembership.ToString("dd/MM/yyyy")</td>
                @if (valid)
                {
                    <td>In course</td>
                    <td>
                        <a asp-action="RenewMembership" class="btn btn-outline-info" asp-route-memberId="@member.Id">Modify</a>
                    </td>
                }
                else
                {
                    <td>Finalized</td>
                    <td>
                        <a asp-action="RenewMembership" class="btn btn-outline-danger" asp-route-memberId="@member.Id">Add Membership</a>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
